.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    z-index: 100;
}

.social{
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.logo{
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    font-size: 20px;
}

@media screen and (max-width: 1280px){
    .logo{
        font-size: 24px;
    }
    .links{
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px){
    .social{
        display: none;
    }
    .logo{
        text-align: left;
    }
}

@media screen and (max-width: 768px){
    .logo{
        font-size: 22px;
    }
}

@media screen and (max-width: 640px){
    .links{
        justify-content: flex-end;
    }
    .link{
        display: none;
    }
}